#header {
    width: 1000px;
    max-width: 1000px;
    height: 350px;
    display: inline-block;
    margin:auto;
}

#content {
    width: 1000px;
    max-width: 1000px;
    display: inline-block;
    vertical-align: top;
    margin:auto;
}

#logo {
    width: 250px;
    display: inline-block;
}

#menu {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.menuItem {
    height: 50px;
    width: 200px;
    margin: 0;
    padding: 0;
    border: 10px solid white;
    background-color: #3F93AA;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.menuItem font {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.menuItem:hover {
    background-color: #84b7b8;
}

.menuItem:hover font {
    color: #F0F8FF;
}

#productList {
    width: 600px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-align: center;
}

.product {
    width: 190px;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.productImg {
    position: relative;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.productImg img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.productImg h2 {
    position: absolute;
    top: 70%;
    width: 50px;
    margin: 0;
    padding: 0;
}

.productImg h2 span {
    display: block;
    visibility: hidden;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
}

.product:hover {
    background-color: #F0F8FF;
}

.product:hover .productImg h2 span {
    visibility: visible;
}

#footer {
    /* background-color: #3F93AA; */
    position:relative;
    margin:auto;
}

#footer font {
    color: black;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}
